body {
    background-color:rgb(241, 241, 241);
    width: 100%;
}
.upwrapper {
    background-color: white;
    padding: 20px;
    width: 100%;
    text-align: center ;
}
.wrapper {
   margin:0 auto;
   width: 50%;
   background-color: white;
   margin-top: 50px;
   margin-bottom: 50px;
}
.topdiv {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.myfirstphoto h1{
    margin-right: 570px;
    font-size: 20px;
}
.myfirstphotocount {
    color: rgb(180, 179, 179);
    margin: 0%;
}
img {
    width: 100%;
    margin-bottom: -20px;
}
.bottomdiv {
    padding: 10px;
    font-size: 18px;
}